# Загрузка данных и библиотек

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sn
import pickle
import re

#baseline
from sklearn.linear_model import LogisticRegression
from sklearn.calibration import CalibratedClassifierCV

from sklearn.svm import LinearSVC
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import cross_val_predict
from sklearn.model_selection import train_test_split
from sklearn.model_selection import StratifiedKFold
from sklearn.model_selection import KFold
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer

from sklearn.metrics import f1_score
from scipy import sparse
from sklearn.preprocessing import OneHotEncoder, StandardScaler

from nltk.corpus import stopwords 
###
import lightgbm as lgb
%matplotlib inline

In [ ]:
import nltk
nltk.download('stopwords')
nltk.download('punkt')
stop_russian_words = stopwords.words('russian')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [ ]:
!pip install fastparquet

Requirement already satisfied: fastparquet in /usr/local/lib/python3.7/dist-packages (0.5.0)
Requirement already satisfied: numpy>=1.11 in /usr/local/lib/python3.7/dist-packages (from fastparquet) (1.19.5)
Requirement already satisfied: pandas>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from fastparquet) (1.1.5)
Requirement already satisfied: thrift>=0.11.0 in /usr/local/lib/python3.7/dist-packages (from fastparquet) (0.13.0)
Requirement already satisfied: numba>=0.49 in /usr/local/lib/python3.7/dist-packages (from fastparquet) (0.51.2)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.1.0->fastparquet) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.1.0->fastparquet) (2018.9)
Requirement already satisfied: six>=1.7.2 in /usr/local/lib/python3.7/dist-packages (from thrift>=0.11.0->fastparquet) (1.15.0)
Requirement already satisfied: llvmlite<0.35,>=0.34.0.dev0 in /usr/local/lib/python3.7/dist-packages (from numba>=0.49->fastparquet) (0.34.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from numba>=0.49->fastparquet) (54.1.2)

In [ ]:
path_to_data = "drive/MyDrive/Data Fusion/"

In [ ]:
parquet_train = pd.read_parquet(path_to_data + 'data_fusion_train.parquet')

In [ ]:
parquet_train.head(5)

   receipt_id  receipt_dayofweek  ... category_id   brands
0           7                  5  ...          -1  вертекс
1          11                  6  ...          78     None
2          39                  4  ...          -1     None
3          39                  4  ...          71     None
4          39                  4  ...          71     None

[5 rows x 9 columns]

In [ ]:
def custom_mode(x):
  return x.value_counts().index[0]

def check_is_int(x):
  return x.mean() !=1

In [ ]:
true_cheq = parquet_train[parquet_train["category_id"]!=-1]['receipt_id'].unique()
X_train_cheq = parquet_train[parquet_train["receipt_id"].isin(true_cheq)]
X_train_cheq["item_counts"] = 1
X_train_by_reciept = X_train_cheq.groupby("receipt_id").agg({
    "item_quantity": "mean",
    "item_price": "mean",
    "item_counts": "sum"
    })

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
X_train_by_reciept["receipt_id"] = X_train_by_reciept.index
X_train_by_reciept.reset_index(drop=True, inplace=True)
X_train_by_reciept.rename(columns={"item_quantity":"mean_item_quantity","item_price":"mean_item_price",	"item_counts":"mean_item_counts"},inplace=True)

In [ ]:
X_train_by_reciept.shape

(3704041, 4)

In [ ]:
X_train_base = parquet_train[parquet_train["category_id"] != -1].reset_index(drop=True)

In [ ]:
X_train_base.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6483226 entries, 0 to 6483225
Data columns (total 9 columns):
 #   Column             Dtype
---  ------             -----
 0   receipt_id         int64
 1   receipt_dayofweek  int32
 2   receipt_time       object
 3   item_name          object
 4   item_quantity      float64
 5   item_price         int64
 6   item_nds_rate      int32
 7   category_id        int64
 8   brands             object
dtypes: float64(1), int32(2), int64(3), object(3)
memory usage: 395.7+ MB

In [ ]:
def part_of_day(x):
    if ((x > 23) or x>=0) and (x <= 7):
        return 'night'
    elif (x > 7) and (x <= 12):
        return 'morning'
    elif (x > 12) and (x <= 17):
        return 'afternoon'
    elif (x > 17) and (x <= 20) :
        return 'evening'
    elif (x > 20) and (x <= 23):
        return 'late evening'

In [ ]:
X_train_base["day_of_part"] = X_train_base["receipt_time"].apply(lambda x: part_of_day(int(x[:2])))

In [ ]:
def type_of_quan(x):
  if(int(x) == x):
    return True
  return False

In [ ]:
X_train_base["is_int_quanitity"] =  X_train_base["item_quantity"].apply(lambda x: type_of_quan(x))

In [ ]:
X_train_base = X_train_base.merge(X_train_by_reciept, on="receipt_id", how="left")

In [ ]:
X_train_base.head(7)

   receipt_id  receipt_dayofweek  ... mean_item_price mean_item_counts
0          11                  6  ...        8.000000                1
1          39                  4  ...        5.250000                4
2          39                  4  ...        5.250000                4
3          56                  5  ...       11.000000                2
4         105                  3  ...        7.000000                1
5         122                  0  ...        8.818182               11
6         129                  3  ...        8.166667                6

[7 rows x 14 columns]

In [ ]:
X_train_agg = X_train_base.groupby("item_name").agg({
    "receipt_dayofweek":custom_mode,
    "item_quantity":"mean",
    "item_price":"mean",
    "item_nds_rate":custom_mode,
    "day_of_part":custom_mode,
    "is_int_quanitity": check_is_int,
    "mean_item_quantity": "mean",
    "mean_item_price": "mean",
    "mean_item_counts": "mean",
    "category_id":custom_mode
    })

In [ ]:
X_train_agg["item_name"] = X_train_agg.index
X_train_agg.reset_index(drop=True, inplace=True)

In [ ]:
X_train_agg.shape

(48225, 11)

In [ ]:
X_train_agg.head(3)

   receipt_dayofweek  ...                                      item_name
0                  4  ...
1                  6  ...                                  КАРТОФЕЛЬ ВЕС
2                  6  ...                                          МИСКА

[3 rows x 11 columns]

In [ ]:
X_train_marked, X_test_marked = train_test_split(X_train_agg, test_size=8000, stratify=X_train_agg["category_id"], random_state=1)

In [ ]:
X_train_marked.to_parquet(path_to_data + "new_data_20_03/" + "marked_train_agg.parquet", engine="fastparquet", compression="gzip")
X_test_marked.to_parquet(path_to_data + "new_data_20_03/" + "marked_test_agg.parquet", engine="fastparquet", compression="gzip")

## Непосредственно доразметка

In [ ]:
tfidf = TfidfVectorizer(stop_words=stop_russian_words, max_features=120000, ngram_range=(1,5), analyzer="char_wb")
X_train_tfidf = tfidf.fit_transform(X_train_marked["item_name"])

In [ ]:
X_train_tfidf

<40225x120000 sparse matrix of type '<class 'numpy.float64'>'
	with 4299339 stored elements in Compressed Sparse Row format>

In [ ]:
params = {
      "max_iter" : 2000, 
      "penalty" : "l2",
      "C" : 1.15,
      "tol" : 1e-7,
      "random_state" : 42,
}

model = LinearSVC(**params)

model = CalibratedClassifierCV(model)
model.fit(X_train_tfidf, X_train_marked["category_id"])

CalibratedClassifierCV(base_estimator=LinearSVC(C=1.15, class_weight=None,
                                                dual=True, fit_intercept=True,
                                                intercept_scaling=1,
                                                loss='squared_hinge',
                                                max_iter=2000,
                                                multi_class='ovr', penalty='l2',
                                                random_state=42, tol=1e-07,
                                                verbose=0),
                       cv=None, method='sigmoid')

In [ ]:
f1_score(model.predict(tfidf.transform(X_test_marked["item_name"])), X_test_marked["category_id"], average="weighted")

0.8469366334321011

In [ ]:
parquet_train_not_marked = parquet_train[parquet_train["category_id"]==-1]

In [ ]:
parquet_train_not_marked.shape

(19610851, 9)

In [ ]:
X_train_not_marked_no_dc = parquet_train_not_marked.drop_duplicates("item_name")

In [ ]:
X_train_not_marked_no_dc.shape

(3107502, 9)

In [ ]:
y_pred = np.zeros(X_train_not_marked_no_dc.shape[0])
y_prob = np.zeros(X_train_not_marked_no_dc.shape[0])

In [ ]:
from tqdm import tqdm_notebook
batch_ind  = np.array_split(np.arange(X_train_not_marked_no_dc.shape[0]), 30)

for i in tqdm_notebook(range(30)):
  tmp_tfidf = tfidf.transform(X_train_not_marked_no_dc["item_name"].iloc[batch_ind[i]])
  y_pred[batch_ind[i]] = model.predict(tmp_tfidf)
  y_prob[batch_ind[i]] = np.max(model.predict_proba(tmp_tfidf), axis=1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  after removing the cwd from sys.path.

HBox(children=(FloatProgress(value=0.0, max=30.0), HTML(value='')))

In [ ]:
X_train_not_marked_no_dc["category_id"] = y_pred.astype("int")
X_train_not_marked_no_dc["category_id_prob"] = y_prob

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
X_train_not_marked_no_dc.head(5)

    receipt_id  receipt_dayofweek  ...    brands category_id_prob
0            7                  5  ...   вертекс         0.913344
2           39                  4  ...      None         0.901981
6           39                  4  ...  горизонт         0.835711
10          49                  3  ...      None         0.520318
11          49                  3  ...      None         0.505733

[5 rows x 10 columns]

In [ ]:
parquet_train_not_marked.drop(columns = "category_id", inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [ ]:
train_not_marked_merged = parquet_train_not_marked.merge(X_train_not_marked_no_dc[["item_name", "category_id", "category_id_prob"]], on="item_name")

In [ ]:
train_not_marked_merged.head(4)

   receipt_id  receipt_dayofweek  ... category_id category_id_prob
0           7                  5  ...          38         0.913344
1      249953                  0  ...          38         0.913344
2     5859963                  3  ...          38         0.913344
3     1513988                  5  ...          38         0.913344

[4 rows x 10 columns]

In [ ]:
train_not_marked_merged.to_parquet(path_to_data + "new_data_20_03/" + "not_marked_train.parquet", engine="fastparquet", compression="gzip")

In [ ]:
parquet_train_marked = parquet_train[parquet_train["category_id"]!=-1]

In [ ]:
cat_id_marked = parquet_train_marked["category_id"]
parquet_train_marked.drop(columns="category_id", inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [ ]:
parquet_train_marked["category_id"] = cat_id_marked
parquet_train_marked["category_id_prob"] = 1.0

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
parquet_train_marked.head(5)

    receipt_id  receipt_dayofweek  ... category_id category_id_prob
1           11                  6  ...          78              1.0
3           39                  4  ...          71              1.0
4           39                  4  ...          71              1.0
17          56                  5  ...          70              1.0
40         105                  3  ...          84              1.0

[5 rows x 10 columns]

In [ ]:
parquet_all = pd.concat([parquet_train_marked, train_not_marked_merged], ignore_index=True)

In [ ]:
parquet_all.shape,parquet_train_marked.shape,train_not_marked_merged.shape

((26094077, 10), (6483226, 10), (19610851, 10))

In [ ]:
parquet_all

          receipt_id  receipt_dayofweek  ... category_id category_id_prob
0                 11                  6  ...          78         1.000000
1                 39                  4  ...          71         1.000000
2                 39                  4  ...          71         1.000000
3                 56                  5  ...          70         1.000000
4                105                  3  ...          84         1.000000
...              ...                ...  ...         ...              ...
26094072    10016000                  1  ...          31         0.277473
26094073    10016000                  1  ...          52         0.828680
26094074    10016004                  2  ...           0         0.942058
26094075    10016159                  4  ...          80         0.779974
26094076    10016159                  4  ...          80         0.915094

[26094077 rows x 10 columns]

In [ ]:
parquet_all.to_parquet(path_to_data + "new_data_20_03/" + "all_marking_up_train.parquet", engine="fastparquet", compression="gzip")

In [ ]:
parquet_all.shape

(26094077, 10)

In [ ]:
parquet_train.shape

(26094077, 9)

In [ ]:
tmp_1 = pd.read_parquet(path_to_data + "new_data_20_03/" + "all_marking_up_train.parquet")